*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
header{
    background-color:rgb(14, 15, 78);
    width: 100%;
    clear: both;
    content: '';
    display: table;
}
.menu{
    width: 1100px;
    margin: 0 auto;
}
.menu img{
    width: 250px;
    height: 60px;
    float: left;
    padding: 15px 0 0px 0 ;
}
nav{
    float: right;
}
nav ul li:hover{
    background-color: dodgerblue;
    
}
nav ul li a:hover{
    color: black;
}
nav ul li{
    list-style: none;
    margin-left: 20px;
    padding: 10px 10px ;
    float: left;
    text-align: center;
    
}
nav ul li a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1,h2,h3{
    text-align: justify;
    margin: 0 ;
}
p{
    margin: 0 5%;
}
.info{
    margin:0 5%;
    padding-top: 20px;
    
}
.float{
    position: absolute;
    padding: 30px 0;
    background-color: darkseagreen;
    width: 960px;
    margin: 20px auto;
    margin-left: 1.5%;
    animation-name: float;
    animation-duration: 1.5s;
    
}
@keyframes float {
    0%{opacity: 0;}
    50%{opacity: 0; margin: -20px auto;margin-left: -4%;}

    }
.contenedor{
    background-color: rgb(102, 172, 172);
    width:1000px;
    height: 525px;
    margin: 50px auto;
    padding-bottom: 30px;
}
.info ul{
    list-style: circle;
    list-style-position: inside;
}
.info ul li{margin: 5px 0;}
.float h3{
    margin-left:70px ;
}